[submodule "external/slang-cpu-utils"]
	path = external/slang-cpu-utils
	url = https://github.com/juliusikkala/slang-cpu-utils
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
