[submodule "external/slang-cpu-utils"]
	path = external/slang-cpu-utils
	url = git@github.com:juliusikkala/slang-cpu-utils.git
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
